@import "tailwindcss";
@import "../styles/layer/color.css";
@import "../styles/layer/components.css";

/* @custom-variant dark (&:is(.dark *)); */
@custom-variant dark (&:where(.dark, .dark *));

@layer base {
  * {
    @apply focus-visible:outline-none;
  }

  html {
    @apply font-sans;
  }

  body {
    @apply bg-background;

    /* ::-webkit-scrollbar-track {
      display: none;
    } */
    /* ::-webkit-scrollbar-track:hover {
      display: none;
      background-color: transparent !important;
    } */
  }

  html,
  body,
  main {
    @apply w-full;
  }

  body {
    @apply min-h-screen text-sm leading-relaxed font-medium;
  }

  footer {
    @apply my-6 h-10 w-full bg-transparent;
  }

  h1 {
    @apply text-5xl leading-[1.1] font-extrabold xl:text-[44px];
  }
  h2 {
    @apply text-4xl leading-[1.1] font-semibold xl:text-[40px];
  }
  h3 {
    @apply text-3xl leading-[1.1] font-semibold xl:text-4xl;
  }
  h4 {
    @apply text-2xl leading-[1.1] font-semibold xl:text-3xl;
  }
  h5 {
    @apply text-xl leading-[1.1] font-semibold xl:text-2xl;
  }
  h6 {
    @apply text-lg leading-[1.1] font-semibold xl:text-lg;
  }

  button,
  a {
    @apply cursor-pointer;
  }
}

@theme screen {
  /* Screen Breakpoint */
  --breakpoint-xs: 400px;
  --breakpoint-sm: 480px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1280px;
  --breakpoint-2xl: 1536px;
}

@theme typography {
  --text-2xs: 10px;
  --text-3xs: 8px;
}

pre.shiki {
  padding: 1rem;
  border-radius: 0.5rem;
  overflow-x: auto;

  pre::-webkit-scrollbar {
    display: none;
  }
  /* Fenced Code block - hide horizontal scrollbar: mozila */
  pre {
    scrollbar-width: none;
  }
}

.scrollbar-hide {
  /* Fenced Code block - hide horizontal scrollbar: webkit */
  &::-webkit-scrollbar {
    display: none;
  }
}
